@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <p>
        @Model.Message
    </p>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"/>
        <div>
            <label asp-for="Registration.FirstName">First Name</label>
            <input asp-for="Registration.FirstName"/>
        </div>
        <div>
            <label asp-for="Registration.LastName">Last Name</label>
            <input asp-for="Registration.LastName"/>
        </div>
        <div>
            <label asp-for="Registration.Email">Email</label>
            <input asp-for="Registration.Email"/>
        </div>
        <div>
            <label>Confirm</label>
            <input asp-for="Registration.ConfirmStoringEmail"/>
        </div>

        <input type="submit" value="Register"/>
    </form>

</div>
